.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 70px;
	border-top-right-radius: 10px;
	border-left: 5px #000000;
	border-bottom-right-radius: 10px;
	background-color: #f2f2f0;
	transition: 0.3s;
	box-sizing: initial;
	box-shadow: 0 0 8px #aaaaaacc;
	z-index: 6;
}

.title {
	visibility: hidden;
}

.title.__active {
	visibility: visible;
	transition: visibility 0.1s;
	transition-delay: 0.1s;
}

.sidebar.__active {
	width: 300px;
}

.sidebar ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 10px;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 5px;
	padding-top: 40px;
}

.sidebar ul li {
	position: relative;
	list-style: none;
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.sidebar ul li:hover {
	background-color: #cccccc;
}

.sidebar ul li.__active {
	background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.sidebar ul li.__active a {
	color: #ffffff;
}

.sidebar ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #000000;
}

.sidebar ul li a .icon {
	position: relative;
	display: block;
	height: 60px;
	min-width: 60px;
	line-height: 70px;
	text-align: center;
}

.sidebar ul li a .icon ion-icon {
	font-size: 1.5em;
}

.sidebar ul li a .title {
	position: relative;
	display: block;
	padding-left: 10px;
	height: 60px;
	line-height: 60px;
	white-space: normal;
}

.toggle-button {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: #0000ff;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button:hover {
	filter: brightness(300%);
}

.toggle-button.__active {
	background: #ff0000;
}

.toggle-button ion-icon {
	font-size: 32px;
	position: absolute;
	color: #ffffff;
}

.toggle-button ion-icon.toggle-button-open,
.toggle-button.__active ion-icon.toggle-button-close {
	display: block;
}

.toggle-button.__active ion-icon.toggle-button-open,
.toggle-button ion-icon.toggle-button-close {
	display: none;
}

main {
	margin-left: 100px;
}

.sales__header {
	width: 85%;
	margin: 30px auto 0 auto;
}

.sales__header h1 {
	font-size: 30px;
}

.sales__buttons {
	display: flex;
	width: 85%;
	margin: 30px auto 0 auto;
	justify-content: flex-end;
}

.sales__button--add,
.sales__button--del {
	width: 10%;
	padding: 10px;
	text-align: center;
	margin: 0 5px 0 5px;
	border-radius: 20px;
	color: #ffffff;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 #00000033;
}

.sales__button--add:hover,
.sales__button--del:hover {
	filter: brightness(125%);
}

.sales__button--add {
	background: #008000;
}

.sales__button--del {
	background: #8a0101;
}

.sales-table {
	box-shadow: 0 4px 8px 0 #00000033;
	border-radius: 20px;
	padding: 30px;
	width: 85%;
	margin: 20px auto 0 auto;
}

.sales-table table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #dddddd;
}

.sales-table th,
.sales-table td {
	text-align: center;
	padding: 16px;
}

.sales-table th {
	background-color: #4158d0;
	color: #ffffff;
}

.sales-table tr:nth-child(even) {
	background-color: #d2d2d2;
}

.sales-table .search-bar__container {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	padding-bottom: 20px;
}

.sales-table .search-bar__container .search-bar #text {
	font-size: 20px;
	border-bottom: 3px solid #84acfa;
	border-right: none;
	border-top: none;
	border-left: none;
}

.sales-table .search-bar__container .search-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 215px;
	right: 128px;

}

.sales-table .search-bar__container .search-icon #icon {
	font-size: 20px;
}

.sales-table .search-bar__container .search-icon #icon:hover {
	color: grey;
}

#sales-table-show {
	width: 40px;
	padding: 3px;
}

.show-text {
	font-size: 16px;
}

.table-footer {
	padding: 20px 0px 20px 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.customer-table-pagination {
	display: flex;
	align-items: center;
}

.customer-table-pagination .prev,
.customer-table-pagination .page-n,
.customer-table-pagination .next {
	border: 1px solid #c1e2ea;
	padding: 5px 10px 5px 10px;
	color: #6f8efc;
	cursor: pointer;
}

.customer-table-pagination .prev:hover,
.customer-table-pagination .page-n:hover,
.customer-table-pagination .next:hover {
	background: #18d2f2;
}

.customer-table-pagination .prev {
	color: rgb(148, 144, 144);
}

.login__body {
	display: grid;
	height: 100vh;
	width: 100%;
	place-items: center;
	background: #f2f2f2;
	background: #d3c5db;
}

::selection {
	background: #4158d0;
	color: #fff;
}

.login__container {
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}

.login__container .login__title {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	color: #fff;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login__container .login__form {
	padding: 10px 30px 50px 30px;
}

.login__container .login__form .login__input-field {
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

.login__container .login__form .login__input-field input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 17px;
	padding-left: 20px;
	border: 1px solid lightgrey;
	border-radius: 25px;
	transition: all 0.3s ease;
}

.login__container .login__form .login__input-field input:focus,
.login__form .login__input-field input:valid {
	border-color: #4158d0;
}

.login__container .login__form .login__input-field label {
	position: absolute;
	top: 50%;
	left: 20px;
	color: #999999;
	font-weight: 400;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: all 0.3s ease;
}

.login__form .login__input-field input:focus~label,
.login__form .login__input-field input:valid~label {
	top: 0%;
	font-size: 16px;
	color: #4158d0;
	background: #fff;
	transform: translateY(-50%);
}

.login__form .login__content {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: space-around;
}

.login__form {
	font-size: 16px;
}

.login__content {
	font-size: 13px;
}

.login__form .login__checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login__form .login__content input {
	width: 15px;
	height: 15px;
	background: red;
}

.login__form .login__content label {
	color: #262626;
	padding-left: 5px;
}

.login__form .login__input-field input[type="submit"] {
	color: #fff;
	border: none;
	padding-left: 0;
	margin-top: -10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
	transition: all 0.3s ease;
}

.login__form .login__input-field input[type="submit"]:active {
	transform: scale(0.95);
}

.login__form .login__pass-link a {
	color: #4158d0;
	text-decoration: none;
}

.login__form .login__pass-link a:hover {
	text-decoration: underline;
}

#login__submit:hover {
	filter: brightness(125%);
}

.addCustomer__body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 40px;
	background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.addCustomer__container {
	max-width: 800px;
	background: #fff;
	width: 800px;
	height: 67vh;
	padding: 25px 40px 10px 40px;
	box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.addCustomer__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.addCustomer__container .addCustomer__header {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.addCustomer__container .addCustomer__form {
	padding: 30px 0 0 0;
}

.addCustomer__container .addCustomer__form .addCustomer__form-row {
	display: flex;
	margin: 32px 0;
}

.addCustomer__form .addCustomer__form-row .addCustomer-form__input-data {
	width: 100%;
	height: 40px;
	margin: 0 20px;
	position: relative;
}

.addCustomer__form .addCustomer__form-row .textarea {
	height: 70px;
}

.addCustomer-form__input-data input,
.textarea textarea {
	display: block;
	width: 100%;
	height: 100%;
	border-style: none;
	font-size: 17px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.addCustomer-form__input-data input:focus~label,
.textarea textarea:focus~label,
.addCustomer-form__input-data input:valid~label,
.textarea textarea:valid~label {
	transform: translateY(-30px);
	font-size: 14px;
	color: #3498db;
}

.textarea textarea {
	resize: none;
	padding-top: 10px;
}

.addCustomer-form__input-data label {
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	font-size: 16px;
	transition: all 0.3s ease;
}

.textarea label {
	width: 100%;
	bottom: 40px;
	background: #fff;
}

.addCustomer-form__input-data .addCustomer--underline {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
}

.addCustomer-form__input-data .addCustomer--underline:before {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background: #3498db;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.addCustomer-form__input-data input:focus~.addCustomer--underline:before,
.addCustomer-form__input-data input:valid~.addCustomer--underline:before,
.textarea textarea:focus~.addCustomer--underline:before,
.textarea textarea:valid~.addCustomer--underline:before {
	transform: scale(1);
}

.addCustomer__submit-btn .addCustomer-form__input-data {
	overflow: hidden;
	height: 45px !important;
	width: 25% !important;
}

.addCustomer__submit-btn .addCustomer-form__input-data .addCustomerinner {
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	transition: all 0.4s;
}

.addCustomer__submit-btn .addCustomer-form__input-data:hover .addCustomerinner {
	left: 0;
}

.addCustomer__submit-btn .addCustomer-form__input-data input {
	background: none;
	border: none;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

#addCustomer__submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}