@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Roboto&display=swap");

* {
	outline: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* alex's section start */

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 70px;
	border-top-right-radius: 10px;
	border-left: 5px #000000;
	border-bottom-right-radius: 10px;
	background-color: #f2f2f0;
	transition: 0.3s;
	box-sizing: initial;
	box-shadow: 0 0 8px #aaaaaacc;
	z-index: 6;
}

.title {
	visibility: hidden;
}

.title.__active {
	visibility: visible;
	transition: visibility 0.1s;
	transition-delay: 0.1s;
}

.sidebar.__active {
	width: 300px;
}

.sidebar ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 10px;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 5px;
	padding-top: 40px;
}

.sidebar ul li {
	position: relative;
	list-style: none;
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.sidebar ul li:hover {
	background-color: #cccccc;
}

.sidebar ul li.__active {
	background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.sidebar ul li.__active a {
	color: #ffffff;
}

.sidebar ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #000000;
}

.sidebar ul li a .icon {
	position: relative;
	display: block;
	height: 60px;
	min-width: 60px;
	line-height: 70px;
	text-align: center;
}

.sidebar ul li a .icon ion-icon {
	font-size: 1.5em;
}

.sidebar ul li a .title {
	position: relative;
	display: block;
	padding-left: 10px;
	height: 60px;
	line-height: 60px;
	white-space: normal;
}

.toggle-button {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: #0000ff;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button:hover {
	filter: brightness(300%);
}

.toggle-button.__active {
	background: #ff0000;
}

.toggle-button ion-icon {
	font-size: 32px;
	position: absolute;
	color: #ffffff;
}

.toggle-button ion-icon.toggle-button-open,
.toggle-button.__active ion-icon.toggle-button-close {
	display: block;
}

.toggle-button.__active ion-icon.toggle-button-open,
.toggle-button ion-icon.toggle-button-close {
	display: none;
}

main {
	margin-left: 100px;
}

.sales__header {
	width: 85%;
	margin: 30px auto 0 auto;
}

.sales__header h1 {
	font-size: 30px;
}

.sales__buttons {
	display: flex;
	width: 85%;
	margin: 30px auto 0 auto;
	justify-content: flex-end;
}

.sales__button--add,
.sales__button--del {
	width: 10%;
	padding: 10px;
	text-align: center;
	margin: 0 5px 0 5px;
	border-radius: 20px;
	color: #ffffff;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 #00000033;
}

.sales__button--add:hover,
.sales__button--del:hover {
	filter: brightness(125%);
}

.sales__button--add {
	background: #008000;
}

.sales__button--del {
	background: #8a0101;
}

.sales-table {
	box-shadow: 0 4px 8px 0 #00000033;
	border-radius: 20px;
	padding: 30px;
	width: 85%;
	margin: 20px auto 0 auto;
	overflow-y: scroll;
}

.sales-table table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #dddddd;
}

.sales-table th,
.sales-table td {
	text-align: center;
	padding: 16px;
}

.sales-table th {
	background-color: #4158d0;
	color: #ffffff;
}

.sales-table tr:nth-child(even) {
	background-color: #d2d2d2;
}

.sales-table .search-bar__container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 20px;
	padding-bottom: 20px;
}

.sales-table .search-bar__container .search-bar #text {
	font-size: 20px;
	border-bottom: 3px solid #84acfa;
	border-right: none;
	border-top: none;
	border-left: none;
}

.sales-table .search-bar__container .search-icon {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid #84acfa;
}

.sales-table .search-bar__container .search-icon #icon {
	font-size: 20px;
}

.sales-table .search-bar__container .search-icon #icon:hover {
	color: grey;
}

.login__body {
	display: grid;
	height: 100vh;
	width: 100%;
	place-items: center;
	background: #f2f2f2;
	background: #d3c5db;
}

::selection {
	background: #4158d0;
	color: #fff;
}

.login__container {
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}

.login__container .login__title {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	color: #fff;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login__container .login__form {
	padding: 10px 30px 50px 30px;
}

.login__container .login__form .login__input-field {
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

.login__container .login__form .login__input-field input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 17px;
	padding-left: 20px;
	border: 1px solid lightgrey;
	border-radius: 25px;
	transition: all 0.3s ease;
}

.login__container .login__form .login__input-field input:focus,
.login__form .login__input-field input:valid {
	border-color: #4158d0;
}

.login__container .login__form .login__input-field label {
	position: absolute;
	top: 50%;
	left: 20px;
	color: #999999;
	font-weight: 400;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: all 0.3s ease;
}

.login__form .login__input-field input:focus~label,
.login__form .login__input-field input:valid~label {
	top: 0%;
	font-size: 16px;
	color: #4158d0;
	background: #fff;
	transform: translateY(-50%);
}

.login__form .login__content {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: space-around;
}

.login__form {
	font-size: 16px;
}

.login__content {
	font-size: 13px;
}

.login__form .login__checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login__form .login__content input {
	width: 15px;
	height: 15px;
	background: red;
}

.login__form .login__content label {
	color: #262626;
	padding-left: 5px;
}

.login__form .login__input-field input[type="submit"] {
	color: #fff;
	border: none;
	padding-left: 0;
	margin-top: -10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
	transition: all 0.3s ease;
}

.login__form .login__input-field input[type="submit"]:active {
	transform: scale(0.95);
}

.login__form .login__pass-link a {
	color: #4158d0;
	text-decoration: none;
}

.login__form .login__pass-link a:hover {
	text-decoration: underline;
}

#login__submit:hover {
	filter: brightness(125%);
}

.addCustomer__body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 40px;
	background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.addCustomer__container {
	max-width: 800px;
	background: #fff;
	width: 800px;
	height: 67vh;
	padding: 25px 40px 10px 40px;
	box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.addCustomer__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.addCustomer__container .addCustomer__header {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.addCustomer__container .addCustomer__form {
	padding: 30px 0 0 0;
}

.addCustomer__container .addCustomer__form .addCustomer__form-row {
	display: flex;
	margin: 32px 0;
}

.addCustomer__form .addCustomer__form-row .addCustomer-form__input-data {
	width: 100%;
	height: 40px;
	margin: 0 20px;
	position: relative;
}

.addCustomer__form .addCustomer__form-row .textarea {
	height: 70px;
}

.addCustomer-form__input-data input,
.textarea textarea {
	display: block;
	width: 100%;
	height: 100%;
	border-style: none;
	font-size: 17px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.addCustomer-form__input-data input:focus~label,
.textarea textarea:focus~label,
.addCustomer-form__input-data input:valid~label,
.textarea textarea:valid~label {
	transform: translateY(-30px);
	font-size: 14px;
	color: #3498db;
}

.textarea textarea {
	resize: none;
	padding-top: 10px;
}

.addCustomer-form__input-data label {
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	font-size: 16px;
	transition: all 0.3s ease;
}

.textarea label {
	width: 100%;
	bottom: 40px;
	background: #fff;
}

.addCustomer-form__input-data .addCustomer--underline {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
}

.addCustomer-form__input-data .addCustomer--underline:before {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background: #3498db;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.addCustomer-form__input-data input:focus~.addCustomer--underline:before,
.addCustomer-form__input-data input:valid~.addCustomer--underline:before,
.textarea textarea:focus~.addCustomer--underline:before,
.textarea textarea:valid~.addCustomer--underline:before {
	transform: scale(1);
}

.addCustomer__submit-btn .addCustomer-form__input-data {
	overflow: hidden;
	height: 45px !important;
	width: 25% !important;
}

.addCustomer__submit-btn .addCustomer-form__input-data .addCustomerinner {
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	transition: all 0.4s;
}

.addCustomer__submit-btn .addCustomer-form__input-data:hover .addCustomerinner {
	left: 0;
}

.addCustomer__submit-btn .addCustomer-form__input-data input {
	background: none;
	border: none;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

#addCustomer__submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* alex's section end */

/* Raynaldy's section start */

.supply {
	margin-left: 30px;
}

.supply__title {
	font-size: 25px;
	font-weight: 1000;
	color: #000000;
	margin: 40px 0 10px 10px;
}

.HomeSection .HomeContent {
	position: relative;
	padding-top: 30px;
}

.HomeContent .Boxes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-bottom: 25px;
}

.Boxes .Boxes__box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% / 4 - 15px);
	background: #fff;
	padding: 15px 15px;
	border-radius: 15px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.Boxes .Boxes__Title {
	font-size: 20px;
	font-weight: 500;
}

.HomeContent .Boxes__box .Boxes__number {
	display: inline-block;
	font-size: 35px;
	margin-top: -5px;
	font-weight: 500;
}

.HomeContent .Boxes__box .Boxes__icon {
	display: flex;
	align-items: center;
}

.HomeContent .Boxes__box .Boxes__icon ion-icon {
	height: 20px;
	width: 20px;
	background: #8FDACB;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	margin-right: 5px;
}

.Boxes__box .Boxes__icon .Boxes__iconDown ion-icon {
	background: #e87d88;
}

.HomeContent .Boxes__box .Boxes__icon .Boxes__text {
	font-size: 15px;
}

.HomeContent .Boxes__box .Boxes__iconCart ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconCart {
	display: inline-block;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #cce5ff;
	line-height: 50px;
	text-align: center;
	color: #66b0ff;
	border-radius: 15px;
	margin: -15px 0 0 5px;
}

.HomeContent .Boxes__box .Boxes__iconSales ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconSales {
	display: inline-block;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #C0F2D8;
	line-height: 50px;
	text-align: center;
	color: #2BD47D;
	border-radius: 15px;
	margin: -15px 0 0 5px;
}

.HomeContent .Boxes__box .Boxes__iconProfit ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconProfit {
	display: inline-block;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #ffe8b3;
	line-height: 50px;
	text-align: center;
	color: #ffc233;
	border-radius: 15px;
	margin: -15px 0 0 5px;
}

.HomeContent .Boxes__box .Boxes__iconCustomer ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconCustomer {
	display: inline-block;
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #f7d4d7;
	line-height: 50px;
	text-align: center;
	color: #e05260;
	border-radius: 15px;
	margin: -15px 0 0 6px;
}

.HomeContent .total-order {
	font-size: 20px;
	font-weight: 500;
}

.SupplyTable {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 25px;
	margin-top: 25px;
	width: 100%;
	color: var(--dark);
}

.SupplyTable>div {
	border-radius: 20px;
	background: var(--light);
	padding: 25px;
	overflow-x: auto;
}

.SupplyTable__stock {
	flex-grow: 1;
	flex-basis: 500px;
	box-shadow: 0 5px 10px 0 #00000033;
	border-radius: 5px;
	padding: 30px;
	width: 60%;
	margin: 10px auto 0 auto;
	overflow-y: scroll;

}

.SupplyTable__stock table {
	width: 100%;
	border-collapse: collapse;
}

.SupplyTable__stock th {
	padding-bottom: 10px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #808080;
}

.SupplyTable__stock table tbody tr td {
	padding: 15px 0;
	text-align: center;
}

.SupplyTable__body tr td ion-icon {
	display: inline-block;
	font-size: 30px;
	color: #000000;
	border-radius: 10px;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	margin: -10px auto 0 auto;
}

.SupplyTable__stock table tr td:first-child {
	align-items: center;
	grid-gap: 15px;
	padding-left: 5px;
}

.SupplyTable__stock table tbody tr:hover {
	background: #808080;
}


.todo {
	flex-grow: 1;
	flex-basis: 300px;
}

.todo__title {
	display: inline-block;
	font-size: 30px;
	font-weight: 600;

}

.todo__TopIcon {
	align-items: center;
	display: flex;
	font-size: 25px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}

.todo__top {
	display: flex;
	justify-content: space-between;
}

.todo .todo-list {
	width: 100%;
}

.todo .todo__list li {
	width: 100%;
	margin-bottom: 16px;
	background: #f5f5f5;
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo .todo__list li.todo__Completed {
	border-left: 10px solid #2525ff
}

.todo .todo__list li.todo__NotCompleted {
	border-left: 10px solid #ffa500;
}

.todo .todo__list li:last-child {
	margin-bottom: 0;
}

.addSupply {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 40px;
	background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.addSupply__container {
	max-width: 800px;
	background: #fff;
	width: 800px;
	height: 75vh;
	padding: 25px 40px 10px 40px;
	box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.addSupply__header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.addSupply__container .addSupply__header {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.addSupply__container .addSupply__form {
	padding: 30px 0 0 0;
}

.addSupply__container .addSupply__form .addSupply__form-row {
	display: flex;
	margin: 32px 0;
}

.addSupply__form .addSupply__form-row .addSupply-form__input-data {
	width: 100%;
	height: 40px;
	margin: 0 20px;
	position: relative;
}

.addSupply-form__input-data input {
	display: block;
	width: 100%;
	height: 100%;
	border-style: none;
	font-size: 17px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.addSupply-form__input-data input:focus~label,
.addSupply-form__input-data input:valid~label {
	transform: translateY(-30px);
	font-size: 14px;
	color: #3498db;
}

.addSupply-form__input-data label {
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	font-size: 16px;
	transition: all 0.3s ease;
}

.addSupply-form__input-data .addSupply--underline {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
}

.addSupply-form__input-data .addSupply--underline:before {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background: #3498db;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.addSupply-form__input-data input:focus~.addSupply--underline:before,
.addSupply-form__input-data input:valid~.addSupply--underline:before {
	transform: scale(1);
}

.addSupply__submit-btn .addSupply-form__input-data {
	overflow: hidden;
	height: 45px !important;
	width: 25% !important;
}

.addSupply__submit-btn .addSupply-form__input-data .addSupplyinner {
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	transition: all 0.4s;
}

.addSupply__submit-btn .addSupply-form__input-data:hover .addSupplyinner {
	left: 0;
}

.addSupply__submit-btn .addSupply-form__input-data input {
	background: none;
	border: none;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

#addSupply__submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.SupplyTable__Button {
	padding: 30px;
}

.SupplyTable__Button .container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 2px;
}

.SupplyTable__Button .container .icon #icon {
	font-size: 50px;
	color: #3498db;
}

.SupplyTable__Button .container .icon #icon:hover {
	filter: brightness(125%);
}

/* Raynaldy's section end */

/* Firman's section start */

.invoice__title {
	font-size: 30px;
	margin-left: 100px;
	margin-top: 50px;
	padding: 0px 24px;
	font-weight: 800;
}

.invoiceInfoBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 64px 6px;
	gap: 24px;
}

.invoiceInfoBox__RecentlyBox {
	display: flex;
	align-items: center;
	background-color: #59d859;
	border-radius: 16px;
	width: 450px;
	height: 200px;
	justify-content: space-around;
	gap: 12px
}

.invoiceInfoBox__RecentlyBoxIcon {
	font-size: 96px;
}

.invoiceInfoBox__RecentlyBoxText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	text-align: center;
	font-size: 24px;
}

.invoiceInfoBox__RecentlyBoxTextTitle {
	font-size: 36px;
}

.invoiceInfoBox__TotalBox {
	display: flex;
	align-items: center;
	background: #ffe8b3;
	border-radius: 16px;
	width: 450px;
	height: 200px;
	justify-content: space-evenly;
	gap: 5px;
}

.invoiceInfoBox__TotalBoxIcon {
	font-size: 96px;
}

.invoiceInfoBox__TotalBoxText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	text-align: center;
	font-size: 24px;
}

.invoiceInfoBox__TotalBoxTextTitle {
	font-size: 36px;
}

.invoiceInfoBox__Button {
	display: flex;
	align-items: center;
	background-color: #4158d0;
	color: #ffffff;
	border-radius: 16px;
	margin: auto;
	width: 200px;
	height: 50px;
	justify-content: center;
	gap: 12px
}

.invoiceBoxRecently {
	margin: 64px 6px;
}

.invoiceBoxRecently__title {
	display: flex;
	margin-left: 90px;
	font-size: 24px;
}

.invoiceBoxRecently__table {
	border-radius: 24px;
	width: 85%;
	margin: auto;
}

.invoiceBoxRecently__table table {
	border-spacing: 0;
	width: 100%;

}

.invoiceBoxRecently__table--button button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 15px;
}

.invoiceBoxRecently__table th,
.invoiceBoxRecently__table td {
	text-align: center;
	padding: 16px;
}

.invoiceBoxRecently__table th {
	background-color: #4158d0;
	color: #ffffff;
}

.invoiceBoxRecently__table--button {
	border: 3px solid black;
}

.invoiceBoxAll__table--button {
	border: 3px solid black;
}

.invoiceBoxAll {
	margin: 64px 6px;
}

.invoiceBoxAll__title {
	padding-bottom: 20px;
	margin-left: 105px;
	font-size: 24px;
}

.invoiceBoxAll__table {
	border-radius: 24px;
	width: 85%;
	margin: auto;
}

.invoiceBoxAll__table table {
	border-spacing: 0;
	width: 100%;
}

.invoiceBoxAll__table--button button {
	background-color: #4CAF50;
	border: none;
	border-radius: 16px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.invoiceBoxAll__table th,
.invoiceBoxAll__table td {
	text-align: center;
	padding: 16px;
}

.invoiceBoxAll__table th {
	background-color: #4158d0;
	color: #ffffff;
}


.invoiceAdd__title {
	text-align: center;
	font-size: 18px;
	margin: 36px 36px;
	padding: 0px 24px;
}

.invoiceAdd__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
	background: #fff;
	width: 800px;
	height: 67vh;
	padding: 25px 40px 10px 40px;
	box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.invoiceAdd__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 40px;
	background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.invoiceAdd__table {
	font-size: 18px;
}

.invoiceAdd__table td {
	padding: 16px 32px;
	text-align: left;
}

.invoiceAdd__table label {
	font-size: 18px;
}

.invoiceAdd__table input,
input[type="date"],
select {
	font-size: 18px;
}

.invoiceAdd__tableButton input[type="submit"] {
	background-color: #04AA6D;
	border: none;
	border-radius: 16px;
	color: #ffffff;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

/* Firman's section end */

/* Anang's section start */

nav {
	background: #f5f5f5dd;
	box-shadow: 0px 1px 2px 1px rgb(212, 209, 209);
	height: 6rem;
	left: 0;
	right: 0;
	top: 0;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

nav>h3 {
	margin-left: 100px;
	letter-spacing: 1px;
}

.nav__account {
	margin-right: 100px;
	position: relative;
	padding: 5px 10px;
	border-radius: 5px;
}

.nav__account:hover {
	background-color: #eee;
}

.nav__account>h3 {
	cursor: pointer;
}

.nav__account h3 span {
	color: black;
}

.nav__account_menu {
	display: none;
	list-style-type: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
	width: 200px;
	padding: 10px 1px;
}

.nav__account_menu>li {
	padding: 3px 8px;
}

/* .nav__account_menu>li:hover {
	width: full;

} */

.nav__account_menu_active {
	display: flex;
	flex-direction: column;
	right: 0;
	top: 40px;
}

.dashboard {
	padding: 2rem 2rem;
}

.dashboard__title {
	padding: 1rem;
	margin-left: 10px;
}

.dashboard__cards {
	padding: 2rem 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
}

.dashboard__card {
	border-radius: 10px;
	cursor: pointer;
	padding: 1rem;
	height: 8rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.dashboard__cards .dashboard__card {
	gap: 4rem;
	display: flex;
	justify-content: center;
	padding: 1.5rem;
}

.dashboard__cards>.dashboard__card>div>* {
	text-align: right;
	width: 80%;
	font-weight: 600;
}

.dashboard__card ion-icon {
	font-size: 3rem;
}

.dashboard__stats {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(5, 1fr);
	padding: 1rem 3rem;
}

.dashboard__stats>div {
	height: 20rem;
}

.dashboard__card>h3 {
	margin: 0.5rem 1.5rem;
	text-align: right;
}

.dashboard__card>p {
	font-size: 1.5em;
	font-weight: 500;
	width: 15rem;
	margin: 1.5rem;
	text-align: right;
}

.dashboard__card_1 {
	grid-column: span 3;
}

.dashboard__card_2 {
	grid-column: span 2;
}

.addsales_form_container {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000bb;
	display: none;
}

.form_button_container {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
}

.form_button {
	padding: 0.5rem 1rem;
	text-align: center;
	width: 10rem;
	border-radius: 20px;
	color: #ffffff;
}

.button_cancel {
	background-color: #8a0101;
}

.button_submit {
	background-color: #008000;
}


/* Anang's section end */