@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Roboto&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* alex's section start */

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 70px;
	border-top-right-radius: 10px;
	border-left: 5px #000000;
	border-bottom-right-radius: 10px;
	background-color: #f2f2f0;
	transition: 0.3s;
	box-sizing: initial;
	box-shadow: 0 0 8px #aaaaaacc;
	z-index: 6;
}

.title {
	visibility: hidden;
}

.title.__active {
	visibility: visible;
	transition: visibility 0.1s;
	transition-delay: 0.1s;
}

.sidebar.__active {
	width: 300px;
}

.sidebar ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 10px;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 5px;
	padding-top: 40px;
}

.sidebar ul li {
	position: relative;
	list-style: none;
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.sidebar ul li:hover {
	background-color: #cccccc;
}

.sidebar ul li.__active {
	background: #0000ff;
}

.sidebar ul li.__active a {
	color: #ffffff;
}

.sidebar ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #000000;
}

.sidebar ul li a .icon {
	position: relative;
	display: block;
	height: 60px;
	min-width: 60px;
	line-height: 70px;
	text-align: center;
}

.sidebar ul li a .icon ion-icon {
	font-size: 1.5em;
}

.sidebar ul li a .title {
	position: relative;
	display: block;
	padding-left: 10px;
	height: 60px;
	line-height: 60px;
	white-space: normal;
}

.toggle-button {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: #0000ff;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button:hover {
	filter: brightness(300%);
}

.toggle-button.__active {
	background: #ff0000;
}

.toggle-button ion-icon {
	font-size: 32px;
	position: absolute;
	color: #ffffff;
}

.toggle-button ion-icon.toggle-button-open,
.toggle-button.__active ion-icon.toggle-button-close {
	display: block;
}

.toggle-button.__active ion-icon.toggle-button-open,
.toggle-button ion-icon.toggle-button-close {
	display: none;
}

main {
	margin-left: 100px;
}

.sales__header {
	width: 85%;
	margin: 30px auto 0 auto;
}

.sales__buttons {
	display: flex;
	width: 85%;
	margin: 30px auto 0 auto;
	justify-content: flex-end;
}

.sales__button--add,
.sales__button--del {
	width: 10%;
	padding: 10px;
	text-align: center;
	margin: 0 5px 0 5px;
	border-radius: 20px;
	color: #ffffff;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 #00000033;
}

.sales__button--add:hover,
.sales__button--del:hover {
	filter: brightness(125%);
}

.sales__button--add {
	background: #008000;
}

.sales__button--del {
	background: #8a0101;
}

.sales-table {
	box-shadow: 0 4px 8px 0 #00000033;
	border-radius: 5px;
	padding: 30px;
	width: 85%;
	margin: 20px auto 0 auto;
	overflow-y: scroll;
}

.sales-table table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #dddddd;
}

.sales-table th,
.sales-table td {
	text-align: center;
	padding: 16px;
}

.sales-table th {
	background-color: #808080;
	color: #ffffff;
}

.sales-table tr:nth-child(even) {
	background-color: #d2d2d2;
}

.login-container {
	display: grid;
	height: 100vh;
	width: 100%;
	place-items: center;
	background: #f2f2f2;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

::selection {
	background: #4158d0;
	color: #fff;
}

.login-wrapper {
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
}

.login-wrapper .login-title {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	color: #fff;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login-wrapper .login-form {
	padding: 10px 30px 50px 30px;
}

.login-wrapper .login-form .login-input-field {
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

.login-wrapper .login-form .login-input-field input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 17px;
	padding-left: 20px;
	border: 1px solid lightgrey;
	border-radius: 25px;
	transition: all 0.3s ease;
}

.login-wrapper .login-form .login-input-field input:focus,
.login-form .login-input-field input:valid {
	border-color: #4158d0;
}

.login-wrapper .login-form .login-input-field label {
	position: absolute;
	top: 50%;
	left: 20px;
	color: #999999;
	font-weight: 400;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: all 0.3s ease;
}

.login-form .login-input-field input:focus~label,
.login-form .login-input-field input:valid~label {
	top: 0%;
	font-size: 16px;
	color: #4158d0;
	background: #fff;
	transform: translateY(-50%);
}

.login-form .login-content {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: space-around;
}

.login-form {
	font-size: 16px;
}

.login-content {
	font-size: 13px;
}

.login-form .login-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form .login-content input {
	width: 15px;
	height: 15px;
	background: red;
}

.login-form .login-content label {
	color: #262626;
	padding-left: 5px;
}

.login-form .login-input-field input[type="submit"] {
	color: #fff;
	border: none;
	padding-left: 0;
	margin-top: -10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
	transition: all 0.3s ease;
}

.login-form .login-input-field input[type="submit"]:active {
	transform: scale(0.95);
}

.login-form .login-pass-link a {
	color: #4158d0;
	text-decoration: none;
}

.login-form .login-pass-link a:hover {
	text-decoration: underline;
}

#login-submit:hover {
	filter: brightness(125%);
}

/* alex's section end */

/* Raynaldy's section start */

.supply {
	display: flex;
	align-items: center;
	margin-left: 90px;
}

.supply__title {
	font-size: 25px;
	font-weight: 1000;
	color: #000000;
	margin: 100px 0 25px 25px;
}

.HomeSection .HomeContent {
	position: relative;
	padding-top: 30px;
}

.HomeContent .Boxes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-bottom: 25px;
}

.Boxes .Boxes__box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% / 4 - 15px);
	background: #fff;
	padding: 15px 15px;
	border-radius: 15px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.Boxes .Boxes__Title {
	font-size: 20px;
	font-weight: 500;
}

.HomeContent .Boxes__box .Boxes__number {
	display: inline-block;
	font-size: 35px;
	margin-top: -5px;
	font-weight: 500;
}

.HomeContent .Boxes__box .Boxes__icon {
	display: flex;
	align-items: center;
}

.HomeContent .Boxes__box .Boxes__icon ion-icon {
	height: 20px;
	width: 20px;
	background: #8FDACB;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	margin-right: 5px;
}

.Boxes__box .Boxes__icon .Boxes__iconDown ion-icon {
	background: #e87d88;
}

.HomeContent .Boxes__box .Boxes__icon .Boxes__text {
	font-size: 15px;
}

.HomeContent .Boxes__box .Boxes__iconCart ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconCart {
	display: inline-block;
	font-size: 32px;
	height: 50px;
	width: 50px;
	background: #cce5ff;
	line-height: 50px;
	text-align: center;
	color: #66b0ff;
	border-radius: 15px;
	margin: -15px 0 0 6px;
}

.HomeContent .Boxes__box .Boxes__iconCart2 ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconCart2 {
	display: inline-block;
	font-size: 32px;
	height: 50px;
	width: 50px;
	background: #C0F2D8;
	line-height: 50px;
	text-align: center;
	color: #2BD47D;
	border-radius: 15px;
	margin: -15px 0 0 6px;
}

.HomeContent .Boxes__box .Boxes__iconCart3 ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconCart3 {
	display: inline-block;
	font-size: 32px;
	height: 50px;
	width: 50px;
	background: #ffe8b3;
	line-height: 50px;
	text-align: center;
	color: #ffc233;
	border-radius: 15px;
	margin: -15px 0 0 6px;
}

.HomeContent .Boxes__box .Boxes__iconCart4 ion-icon {
	margin-top: 10px;
}

.HomeContent .Boxes__box .Boxes__iconCart4 {
	display: inline-block;
	font-size: 32px;
	height: 50px;
	width: 50px;
	background: #f7d4d7;
	line-height: 50px;
	text-align: center;
	color: #e05260;
	border-radius: 15px;
	margin: -15px 0 0 6px;
}

.HomeContent .total-order {
	font-size: 20px;
	font-weight: 500;
}

.SupplyTable {
	box-shadow: 0 5px 10px 0 #00000033;
	border-radius: 5px;
	padding: 30px;
	width: 85%;
	margin: 20px auto 0 auto;
	overflow-y: scroll;
}

.SupplyTable table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #dddddd;
}

.SupplyTable th,
.SupplyTable td {
	text-align: center;
	padding: 15px;
}

.SupplyTable th {
	background-color: #808080;
	color: #ffffff;
}

.SupplyTable tr:nth-child(even) {
	background-color: #d2d2d2;
}

/* Raynaldy's section end */

/* Firman's section start */

.invoice__title {
	font-size: 18px;
	margin: 24px 36px;
	padding: 0px 24px;
}

.invoiceInfoBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 64px 6px;
	gap: 24px;
}

.invoiceInfoBox__RecentlyBox {
	display: flex;
	text-align: center;
	align-items: center;
	background-color: #59d859;
	border-radius: 16px;
	width: 330px;
	height: 200px;
	justify-content: space-around;
	gap: 12px
}

.invoiceInfoBox__RecentlyBoxIcon {
	font-size: 96px;
}

.invoiceInfoBox__RecentlyBoxText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	text-align: center;
	font-size: 24px;
}

.invoiceInfoBox__RecentlyBoxTextTitle {
	font-size: 36px;
}

.invoiceInfoBox__AllBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	text-align: center;
	background-color: #ffa500;
	border-radius: 16px;
	width: 330px;
	height: 200px;
}

.invoiceInfoBox__AllBoxNumber {
	font-size: 96px;
}

.invoiceInfoBox__AllBoxText {
	font-size: 24px;
}

.invoiceBoxRecently {
	margin: 64px 6px;
}

.invoiceBoxRecently__title {
	margin-left: 90px;
	font-size: 24px;
}

.invoiceBoxRecently__table {
	border-radius: 24px;
	width: 85%;
	margin: auto;
}

.invoiceBoxRecently__table table {
	border-radius: 8px;
	border-spacing: 0;
	width: 100%;
	border: 2px solid #0000bd;
}

.invoiceBoxRecently__table--button button {

	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 8px;
	cursor: pointer;
}

.invoiceBoxRecently__table th,
.invoiceBoxRecently__table td {
	text-align: center;
	padding: 16px;
}

.invoiceBoxRecently__table th {
	background-color: #0000bd;
	color: #ffffff;
}

.invoiceBoxAll {
	margin: 64px 6px;
}

.invoiceBoxAll__title {
	margin-left: 90px;
	font-size: 24px;
}

.invoiceBoxAll__table {
	border-radius: 24px;
	width: 85%;
	margin: auto;
}

.invoiceBoxAll__table table {
	border-radius: 8px;
	border-spacing: 0;
	width: 100%;
	border: 2px solid #0000bd;
}

.invoiceBoxAll__table--button button {

	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 8px;
	cursor: pointer;
}

.invoiceBoxAll__table th,
.invoiceBoxAll__table td {
	text-align: center;
	padding: 16px;
}

.invoiceBoxAll__table th {
	background-color: #0000bd;
	color: #ffffff;
}

/* Firman's section end */

/* Anang's section start */

nav {
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 2px #0000001a;
	height: 6rem;
	left: 0;
	right: 0;
	top: 0;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

nav>h3 {
	margin-left: 100px;
}

.nav__account {
	margin-right: 100px;
	position: relative;
	padding: 5px 10px;
	border-radius: 5px;
}

.nav__account:hover {
	background-color: #eee;
}

.nav__account>h3 {
	cursor: pointer;
}

.nav__account_menu {
	display: none;
	list-style-type: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
	width: 200px;
	padding: 10px 1px;
}

.nav__account_menu>li {
	padding: 3px 8px;
}

.nav__account_menu>li:hover {
	width: full;
	background-color: #eee;
}

.nav__account_menu_active {
	display: flex;
	flex-direction: column;
	right: 0;
	top: 40px;
}

.dashboard {
	padding: 2rem 2rem;
	height: 200vh;
}

.dashboard__title {
	padding: 1rem;
	border-bottom: 2px solid #666;
}

.dashboard__cards {
	padding: 2rem 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
}

.dashboard__card {
	border-radius: 10px;
	cursor: pointer;
	padding: 1rem;
	height: 8rem;
	box-shadow: 0 0 5px #666;
}

.dashboard__cards .dashboard__card {
	gap: 4rem;
	display: flex;
	justify-content: center;
	padding: 1.5rem;
}

.dashboard__cards>.dashboard__card>div>* {
	text-align: right;
	width: 80%;
	font-weight: 600;
}

.dashboard__card ion-icon {
	font-size: 3rem;
}

.dashboard__stats {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(5, 1fr);
	padding: 1rem;
}

.dashboard__stats>div {
	height: 20rem;
}

.dashboard__card>h3 {
	margin: 0.5rem 1.5rem;
	text-align: right;
}

.dashboard__card>p {
	font-size: 1.5em;
	font-weight: 500;
	width: 15rem;
	margin: 1.5rem;
	text-align: right;
}

.dashboard__card_1 {
	grid-column: span 3;
}

.dashboard__card_2 {
	grid-column: span 2;
}

.addsales_form_container {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000bb;
	display: none;
}

.addsales_form_container_active {
	display: block;
}

.addsales_form_container>div {
	width: 100%;
	margin: 20% auto;
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 1rem;
}

.addsales_form>div {
	display: grid;
	margin: 1rem 0;
	grid-template-columns: 8rem 10px 1fr;
	justify-content: space-start;
	grid-gap: 1rem;
}

.form_button_container {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
}

.form_button {
	padding: 0.5rem 1rem;
	text-align: center;
	width: 10rem;
	border-radius: 20px;
	color: #ffffff;
}

.button_cancel {
	background-color: #8a0101;
}

.button_submit {
	background-color: #008000;
}


/* Anang's section end */