@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* alex's section start */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 70px;
    border-top-right-radius: 10px;
    border-left: 5px solid black;
    border-bottom-right-radius: 10px;
    background-color: rgb(240, 242, 242);
    transition: 0.3s;
    box-sizing: initial;
    box-shadow: 2px 0px 5px grey;
    overflow-x: hidden;
}

.title {
    visibility: hidden;
}

.title.__active {
    visibility: visible;
    transition: visibility 0.1s;
    transition-delay: 0.1s;
}

.sidebar.__active {
    width: 300px;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar ul li:hover {
    background-color: rgb(213, 216, 222);
}

.sidebar ul li.__active {
    background: blue;
}

.sidebar ul li.__active a {
    color: white;
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

.sidebar ul li a .icon {
    position: relative;
    display: block;
    height: 60px;
    min-width: 60px;
    line-height: 70px;
    text-align: center;
}

.sidebar ul li a .icon ion-icon {
    font-size: 1.5em;
}

.sidebar ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button:hover {
    filter: brightness(300%);
}

.toggle-button.__active {
    background: red;
}

.toggle-button ion-icon {
    font-size: 32px;
    position: absolute;
    color: white;
}


.toggle-button ion-icon.toggle-button-open,
.toggle-button.__active ion-icon.toggle-button-close {
    display: block;
}

.toggle-button.__active ion-icon.toggle-button-open,
.toggle-button ion-icon.toggle-button-close {
    display: none;
}

main {
    margin-left: 100px;
}


.sales__header {
    width: 85%;
    margin: 30px auto 0 auto;
}

.sales-table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    width: 85%;
    margin: 30px auto 0 auto;
    overflow-y: scroll;
}

.sales-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.sales-table th,
.sales-table td {
    text-align: center;
    padding: 16px;
}

.sales-table th {
    background-color: grey;
    color: white;
}

.sales-table tr:nth-child(even) {
    background-color: #d2d2d2;
}

/* alex's section end */

/* Raynaldy's section start */

.supply {
    display: flex;
    align-items: center;
}

.supply__title {
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin: 100px 0 0 0;
}

.infobox {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infobox>section {

    margin: 20px;
    padding: 30px;
    border-radius: 12px;
}

.TotalOrder {
    position: relative;
    background-color: paleturquoise;

}

.TotalOrder div,
.TotalProfit div,
.TotalSale div {
    display: flex;
    align-items: center;
}


.TotalOrder__title {
    font-size: 20px;
    font-weight: 500;
}

.TotalOrder__number {
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}

.TotalOrder__UpIcon {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
    background: #8FDACB;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}

.TotalOrder__desc {
    font-size: 12px;
}


.TotalSale {
    position: relative;
    background-color: paleturquoise;

}

.TotalProfit {
    position: relative;
    background-color: paleturquoise;

}




/* Raynaldy's section end */


/* Firman's section start */

.invoice-title {
    margin: 12px 12px;
}

.invoice-background {
    display: flex;
    background-color: #F0F8FF;
    margin: auto;
    width: 90%;
    padding: 6px;
    border-radius: 12px;
    justify-content: center;
}

.invoice-table1,
th,
td {
    border: 0px;
    padding: 4px 72px;
}

.btn-all {
    display: flex;
    justify-content: right;
    gap: 12px;
}

.btn-all-add {
    background-color:#228B22;
    color: #ffffff;
    padding: 4px 16px;
    border: 2px #228B22;
    border-radius: 4px;
    text-decoration: none;
}

.btn-all-remove {
    background-color: #FF0000;
    color: #ffffff;
    padding: 4px 16px;
    border: 2px #FF0000;
    border-radius: 4px;
    text-decoration: none;
}

/* Firman's section end */

/* Anang's section start */

nav {
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    height: 6rem;
    left: 0;
    right: 0;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
}

nav h3 {
    margin-left: 100px;
    /* border: 1px solid red; */
}

.dashboard {
    padding: 2rem 2rem;
    height: 200vh;
}

.dashboard__title {
    padding: 1rem;
    border-bottom: 2px solid #666
}

.dashboard__cards {
    padding: 2rem 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.dashboard__card {
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    height: 8rem;
    box-shadow: 0 0 5px #666;
}

.dashboard__cards .dashboard__card {
    gap: 4rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.dashboard__cards>.dashboard__card>div>* {
    text-align: right;
    width: 80%;
    font-weight: 600;
}


.dashboard__card ion-icon {
    font-size: 3rem;
}


.dashboard__stats {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
}

.dashboard__stats>div {
    height: 20rem;
}

.dashboard__card>h3 {
    margin: 0.5rem 1.5rem;
    text-align: right;
}

.dashboard__card>p {
    font-size: 1.5em;
    font-weight: 500;
    width: 15rem;
    margin: 1.5rem;
    text-align: right;
}

.dashboard__card_1 {
    grid-column: span 3;
}

.dashboard__card_2 {
    grid-column: span 2;
}



/* Anang's section end */