@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Roboto&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* alex's section start */

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 70px;
	border-top-right-radius: 10px;
	border-left: 5px #000000;
	border-bottom-right-radius: 10px;
	background-color: #f2f2f0;
	transition: 0.3s;
	box-sizing: initial;
	box-shadow: 2px 0px 5px;
	z-index: 6;
}

.title {
	visibility: hidden;
}

.title.__active {
	visibility: visible;
	transition: visibility 0.1s;
	transition-delay: 0.1s;
}

.sidebar.__active {
	width: 300px;
}

.sidebar ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 10px;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 5px;
	padding-top: 40px;
}

.sidebar ul li {
	position: relative;
	list-style: none;
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.sidebar ul li:hover {
	background-color: #cccccc;
}

.sidebar ul li.__active {
	background: #0000ff;
}

.sidebar ul li.__active a {
	color: #ffffff;
}

.sidebar ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #000000;
}

.sidebar ul li a .icon {
	position: relative;
	display: block;
	height: 60px;
	min-width: 60px;
	line-height: 70px;
	text-align: center;
}

.sidebar ul li a .icon ion-icon {
	font-size: 1.5em;
}

.sidebar ul li a .title {
	position: relative;
	display: block;
	padding-left: 10px;
	height: 60px;
	line-height: 60px;
	white-space: normal;
}

.toggle-button {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: #0000ff;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-button:hover {
	filter: brightness(300%);
}

.toggle-button.__active {
	background: #ff0000;
}

.toggle-button ion-icon {
	font-size: 32px;
	position: absolute;
	color: #ffffff;
}

.toggle-button ion-icon.toggle-button-open,
.toggle-button.__active ion-icon.toggle-button-close {
	display: block;
}

.toggle-button.__active ion-icon.toggle-button-open,
.toggle-button ion-icon.toggle-button-close {
	display: none;
}

main {
	margin-left: 100px;
}

.sales__header {
	width: 85%;
	margin: 30px auto 0 auto;
}

.sales__buttons {
	display: flex;
	width: 85%;
	margin: 30px auto 0 auto;
	justify-content: flex-end;
}

.sales__button--add,
.sales__button--del {
	width: 10%;
	padding: 10px;
	text-align: center;
	margin: 0 5px 0 5px;
	border-radius: 20px;
	color: #ffffff;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 #00000033;
}

.sales__button--add:hover,
.sales__button--del:hover {
	filter: brightness(125%);
}

.sales__button--add {
	background: #008000;
}

.sales__button--del {
	background: #8a0101;
}

.sales-table {
	box-shadow: 0 4px 8px 0 #00000033;
	border-radius: 5px;
	padding: 30px;
	width: 85%;
	margin: 20px auto 0 auto;
	overflow-y: scroll;
}

.sales-table table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #dddddd;
}

.sales-table th,
.sales-table td {
	text-align: center;
	padding: 16px;
}

.sales-table th {
	background-color: #808080;
	color: #ffffff;
}

.sales-table tr:nth-child(even) {
	background-color: #d2d2d2;
}

/* alex's section end */

/* Raynaldy's section start */

.supply {
	display: flex;
	align-items: center;
	margin-left: 90px;
}

.supply__title {
	font-size: 25px;
	font-weight: 1000;
	color: #000000;
	margin: 100px 0 25px 25px;
}

.infobox {
	display: flex;
	align-items: center;
	justify-content:space-evenly;
}

.infobox > section {
	margin: 20px 60px 20px 20px;
	padding: 20px;
	border-radius: 15px;
}

.TotalOrder {
	position: relative;
	background-color: #caffff;
}

.TotalOrder div,
.TotalProfit div,
.TotalSale div {
	display: flex;
	align-items: center;
}

.TotalOrder__title {
	font-size: 20px;
	font-weight: 500;
}

.TotalOrder__number {
	font-size: 35px;
	font-weight: 500;
	margin-top: -5px;
	display: inline-block;
}

.TotalOrder__UpIcon {
	display: flex;
	align-items: center;
	height: 20px;
	width: 20px;
	line-height: 20px;
	background: #96e637;
	color: #ffffff;
	border-radius: 50%;
	font-size: 20px;
	margin-right: 5px;
}

.TotalOrder__desc {
	font-size: 15px;
}

.TotalSale {
	position: relative;
	background-color: #F8E5FF;
}

.TotalSale__title {
	font-size: 20px;
	font-weight: 500;
}

.TotalSale__number {
	font-size: 35px;
	font-weight: 500;
	margin-top: -5px;
	display: inline-block;
}

.TotalSale__DownIcon {
	display: flex;
	align-items: center;
	height: 20px;
	width: 20px;
	line-height: 20px;
	background: #ff4e4e;
	color: #ffffff;
	border-radius: 50%;
	font-size: 20px;
	margin-right: 5px;
}

.TotalSale__desc {
	font-size: 15px;
}

.TotalProfit {
	position: relative;
	background-color: #e9ee83;
}

.TotalProfit__title {
	font-size: 20px;
	font-weight: 500;
}

.TotalProfit__number {
	font-size: 35px;
	font-weight: 500;
	margin-top: -5px;
	display: inline-block;
}

.TotalProfit__UpIcon {
	display: flex;
	align-items: center;
	height: 20px;
	width: 20px;
	line-height: 20px;
	background: #96e637;
	color: #ffffff;
	border-radius: 50%;
	font-size: 20px;
	margin-right: 5px;
}

.TotalProfit__desc {
	font-size: 15px;
}

.SupplyTable {
	box-shadow: 0 4px 8px 0 #00000033;
	border-radius: 5px;
	padding: 30px;
	width: 85%;
	margin: 20px auto 0 auto;
	overflow-y: scroll;
}

.SupplyTable table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #dddddd;
}

.SupplyTable th,
.SupplyTable td {
	text-align: center;
	padding: 16px;
}

.SupplyTable th {
	background-color: #808080;
	color: #ffffff;
}

.SupplyTable tr:nth-child(even) {
	background-color: #d2d2d2;
}

/* Raynaldy's section end */

/* Firman's section start */

.Invoice__title {
	margin: 12px 48px;
}

.Invoice__table {
	display: flex;
	background-color: #f0f8ff;
	padding: 6px;
	margin: 24px 48px;
	border-radius: 12px;
	justify-content: space-evenly;
}

.Invoice__TableData,
th,
td {
	border: 0px;
	padding: 6px 48px;
}

.Table__button {
	display: flex;
	justify-content: right;
	gap: 12px;
}

.Table__button--add {
	background-color: #228b22;
	color: #ffffff;
	padding: 4px 16px;
	border: 2px #228b22;
	border-radius: 4px;
	text-decoration: none;
}

.Table__button--remove {
	background-color: #ff0000;
	color: #ffffff;
	padding: 4px 16px;
	border: 2px #ff0000;
	border-radius: 4px;
	text-decoration: none;
}

/* Firman's section end */

/* Anang's section start */

nav {
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 2px #0000001a;
	height: 6rem;
	left: 0;
	right: 0;
	top: 0;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

nav > h3 {
	margin-left: 100px;
}

.nav__account {
	margin-right: 100px;
	position: relative;
	padding: 5px 10px;
	border-radius: 5px;
}
.nav__account:hover {
	background-color: #eee;
}

.nav__account > h3 {
	cursor: pointer;
}

.nav__account_menu {
	display: none;
	list-style-type: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
	width: 200px;
	padding: 10px 1px;
}

.nav__account_menu > li {
	padding: 3px 8px;
}
.nav__account_menu > li:hover {
	width: full;
	background-color: #eee;
}

.nav__account_menu_active {
	display: flex;
	flex-direction: column;
	right: 0;
	top: 40px;
}

.dashboard {
	padding: 2rem 2rem;
	height: 200vh;
}

.dashboard__title {
	padding: 1rem;
	border-bottom: 2px solid #666;
}

.dashboard__cards {
	padding: 2rem 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
}

.dashboard__card {
	border-radius: 10px;
	cursor: pointer;
	padding: 1rem;
	height: 8rem;
	box-shadow: 0 0 5px #666;
}

.dashboard__cards .dashboard__card {
	gap: 4rem;
	display: flex;
	justify-content: center;
	padding: 1.5rem;
}

.dashboard__cards > .dashboard__card > div > * {
	text-align: right;
	width: 80%;
	font-weight: 600;
}

.dashboard__card ion-icon {
	font-size: 3rem;
}

.dashboard__stats {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(5, 1fr);
	padding: 1rem;
}

.dashboard__stats > div {
	height: 20rem;
}

.dashboard__card > h3 {
	margin: 0.5rem 1.5rem;
	text-align: right;
}

.dashboard__card > p {
	font-size: 1.5em;
	font-weight: 500;
	width: 15rem;
	margin: 1.5rem;
	text-align: right;
}

.dashboard__card_1 {
	grid-column: span 3;
}

.dashboard__card_2 {
	grid-column: span 2;
}

/* Anang's section end */
